.headblock{
	background-color: #121212;
	margin-bottom: 0;
	box-shadow: 19px 3px 10px #888888;
}

.invitados{
	background-color: #f6bf26;
	height: 600px;
}

.listado{
	background-color: #f6bf26;
	height: 400px;
	margin: 50px;
}
.inv{
	margin: 20px;
}
body{
	font-family: 'Comfortaa', cursive;
}
